body{
	background-color: #000;
	color:#fff;
}

h2{
	text-align:center;
	color: #fff;
}
h3{
	color: #ff0084;
}
#buttons{
	text-align:center;
	width:480px;
	margin:0 auto;
}
/*.button{
	background-color: #222222;
	color: #aaaaaa !important;
	text-decoration:none;
	border-radius: 10px;
	padding: 10px;
}
.add_to_playlist{
	background-color: #222222;
	color: #aaaaaa !important;
	text-decoration:none;
	padding: 2px;
}
*/
#song_slider{
	margin-top:30px;
}

#volume_container{
	display:none;
	height:250px;
	width:20px;
	float:right;
	margin-top:15px;
	padding:10px 20px;
	background-color:#222222;
	border-radius: 10px;
	z-index:9999;
}
#volume_slider{
	height:200px;
	width:15px;
	float:right;
	z-index:9999;
}
#playlist{
/*	width: 70%;*/
/*	float:left;*/
}
#playlist p{
	padding: 5px;
}
span.hidden{
	color:#000;
}
#playlist span.id{
	display:none;
}
#playlist p:hover span.hidden{
	color: #ccc;
}
#playlists{
	width:30%;
	float:right;
}