%h2#current_song=song_info(@current_song)
#buttons
	-if @player.paused?
		=link_to 'Play', play_player_path, {:class=>'button', :id => 'play_pause', :method => :put}
	-else
		=link_to 'Pause', pause_player_path, {:class => 'button', :id => 'play_pause', :method=>:put}
	=link_to 'Stop', stop_player_path, {:class => 'button', :id => 'stop', :method => :put}
	=link_to 'Previous', previous_player_path, {:class => 'button', :id => 'prev', :method => :put}
	=link_to 'Next', next_player_path, {:class => 'button', :id => 'next', :method => :put}
	=link_to 'Volume Up', volume_up_player_path, {:class => 'button', :id => 'volume_up', :method => :put}
	=link_to 'Volume Down', volume_down_player_path, {:class => 'button', :id => 'volume_down', :method => :put}
	#song_slider{:'data-max' => @player.ping[:song_time],  :'data-value' => @player.ping[:time]}
	#debug
#tabs
	%ul
		%li
			=link_to(content_tag(:span, "PLaylist"), playlist_player_path, {:id=>"tab-1-trigger"})
		%li
			=link_to(content_tag(:span, "Library"), library_player_path, {:id=>"tab-2-trigger"})
	#tabs-1
	#tabs-2