#library_wrapper
	%h3 Current Playlist
	%p
		=link_to("Clear Playlist", clear_playlist_path, {:id => "clear_playlist", :method => :delete, :class => "button"})
	#playlist
		-@songs.each_with_index do |song, index|
			%p
				=link_to "Play", play_player_path(:song => index), {:class => "button play", :method => :put}
				=link_to "Delete", delete_song_playlist_path(:song => index), {:class => "delete_song", :method => :delete}
				%span.id
					=index
				%span.song_info
					=song_info(song)