!!!
%html
	%head
		%title Poppy
		=stylesheet_link_tag 'player','smoothness/jquery-ui.css','jstree/apple/style.css'
		=javascript_include_tag :defaults,'jquery','jquery-ui','jquery.jstree.js','player'
		=csrf_meta_tag
	%body
		=yield